body{
    background-color: #c4b9af;
}

#title{
    font-family: 'Merriweather Sans';
    color: black;
    text-align: center;
    margin-top: 150px;
}

#container{
    width: 120px;
    height: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #333030;
    text-align: center;
    border-radius: 20px;
}

#container i{
    margin-top: 7px;
    color: white;
}

#circle{
    position: absolute; 
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 1px;
    top: -1px;
    left: -1px;
}



.light-mode{
    background-color: #c4b9af
}

.dark-mode{
    background-color: #171616;
}

.light-mode-circle{
    color: white;
}

.dark-mode-circle{
    color: black;
}

.circle-animation{
    transform: translateX(95px);
    transition: 1s;
}

.circle-animation-reverse{
    transform: translateX(-3px);
    transition: 1s;
}

